header {
  height: 100px;
  background: url('http://i.imgur.com/O7ZWigt.png') 50% 61%;
  background-size: cover;
  padding-top: 100px;
}

nav {
  height: 100px;
  min-width: 100vw;
}

nav a {
  display: inline-block;
  width: 130px;
  height: 100px;
  text-align: center;
  font-size: .95em;
  border-top: 2px solid #222;
}

nav a:first-child {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #3974f6;
}

nav a:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-right: 3px solid #90c457;
}
nav a {
  border-left: 2px solid #222;
}

nav a:link, nav a:active, nav a:visited {
  background-color: #383838;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

}

nav a:hover {
  color: #000;
}

.pokeball {
  width: 35px;
  height: 35px;
  margin: 15px auto 17px;
  background-image: url("https://i.imgur.com/pd4oouc.png");
  background-size: contain;
}

.pokeball {
  background-size: contain;
}

#home-link {
  border-bottom: 10px solid #3974f6;
  border-top: 5px solid #3974f6;
}

#home-link:hover  {
  background-color: #3974f6;
}

#home-link:hover .pokeball {
  background-image: url("https://i.imgur.com/0zLy4N5.png");
}

#all-pokemon-link {
  border-bottom: 10px solid #f8cb46;
  border-top: 5px solid #f8cb46;
}

#all-pokemon-link:hover {
  background-color: #f8cb46;
}

#all-pokemon-link:hover .pokeball {
  background-image: url("https://i.imgur.com/MrjnfX2.png");
}

#user-pokemon-link {
  border-bottom: 10px solid #ea3223;
  border-top: 5px solid #ea3223;
}

#user-pokemon-link:hover {
  background-color: #ea3223;
}

#user-pokemon-link:hover .pokeball {
  background-image: url("https://i.imgur.com/Ilwip40.png");
}

#signup-link {
  border-bottom: 10px solid #90c457;
  border-top: 5px solid #90c457;
}

#signup-link:hover {
  background-color: #90c457;
}

#signup-link:hover .pokeball {
  background-image: url("https://i.imgur.com/U4a6514.png");
}
