@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

.pokemon-container {
  padding: 60px 0 50px;
  background: url('https://i.imgur.com/QVPsYBX.jpg') repeat;
}

.pokedex {
  width: 762px;
  background: url('https://i.imgur.com/hhdeHmj.png') no-repeat;
  height: 620px;
  margin: auto;
  display: flex;
}

.pokedex-image {
  width: 257px;
  height: 252px;
  margin: 155px 58px 0;
  border: 2px solid #444;
  border-radius: 20px;
  background: url('https://i.imgur.com/RvksFPu.gif') no-repeat;
  background-size: cover;
}

.pokedex-image img {
  width: 230px;
  height: 230px;
  padding-top: 35px;
}

.pokedex-image p {
  margin-top: 126px;
  margin-right: 31px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 1.3em;
}

.pokedex-info {
  width: 45%;
  height: 317px;
  margin: 140px auto 0;
  font-family: 'IBM Plex Mono', monospace;
  overflow: scroll;
  /* color: #fff; */
}

.pokedex-info p {
  font-size: .9em;
  text-align: left;
  text-indent: 15px;
  padding-left: 80px;
  margin-top: 20px;
}

.pokedex-info-elements {
  padding: 0 40px 0 70px;
}
