#pokemon-container {
  background: url('https://i.imgur.com/Dd7XUwe.jpg') repeat;
}

#banner {
  border-bottom: 3px solid #d84331;
  background-color: #fff;
  /* background-image: linear-gradient(#fff, #d84331); */
}

#banner img {
  margin: 30px 0 20px;
  width: 600px;
}

#banner h1 {
  font-size: 2.3em;
  margin-bottom: 40px;
  color: #f8cd46;
}

#pokemon-container-cards {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 890px;
  margin: auto;
  border-left: 10px solid #f8cd46;
  border-right: 10px solid #f8cd46;
}

#pokemon-container-cards a {
  color: #444;
  text-decoration: none;
}

#pokemon-container-cards a:hover {
  color: #888;
}

#pokedex {

}

.pokemon-card-link {
  margin: 20px auto;
}

.pokemon-cards {
  width: 180px;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 5px;
}


.pokemon-cards:hover {
  background-color: #f8cd46;
  border: 2px solid #f8cd46;
}
