@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

.pokemon-container {
  padding: 60px 0 50px;
  background: url('https://i.imgur.com/QVPsYBX.jpg') repeat;
}

.pokedex {
  width: 762px;
  background: url('https://i.imgur.com/hhdeHmj.png') no-repeat;
  height: 620px;
  margin: auto;
  display: flex;
}

.pokedex-image {
  width: 45%;
  padding-top: 110px;
  height: 300px;
  margin: 30px auto 0;
}

.pokedex-image img {
  width: 230px;
  height: 230px;
  padding-top: 30px;
}

.pokedex-image p {
  margin-top: 148px;
  margin-right: 37px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 1.3em;
}

.pokedex-info {
  width: 45%;
  height: 350px;
  margin: 140px auto 0;
  font-family: 'IBM Plex Mono', monospace;
  /* color: #fff; */
}

.pokedex-info p {
  font-size: .8em;
}

.pokedex-info-elements {
  padding: 0 40px 0 70px;
}
