#signup-container {
  min-height: 40vh;
  padding: 140px 0;
  background: url('https://i.imgur.com/Dd7XUwe.jpg') repeat;
}

#signup-link-container {
  display: flex;
  width: 350px;
  margin: auto;
  padding: 20px 0 25px;
}

.signup-link {
  display: block;
  color: #444;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 0;
  margin-right: 20px;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

.signup-link:hover {
  border-bottom: 3px solid #f00;
  border-radius: 3px;
}

#signup-form {
  width: 500px;
  margin: auto;
  height: 450px;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 3px;
}

#signup-title {
  padding-bottom: 30px;
  font-size: 2em;
  margin: 0;
}

#signup-form form {
  width: 350px;
  margin: auto;
  /* padding-top: 100px; */
}

.signup-form-input {
  width: 337px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #444;
  background-color: #f6f6f6;
  padding-left: 10px;
  font-size: 1em;
}

#button {
  width: 350px;
  border-radius: 0;
  border: 1px solid #000;
  background-color: #d84331;
  color: #fff;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
}

#button:hover {
  background-color: #d00;
  cursor: pointer;
}
